// @font-face {
//     font-family: 'Noe Display';
//     font-style: normal;
//     font-display: swap;
//     font-weight: 400;
//     src: local('Noe Display'), local('NoeDisplay-Regular'),
//         url('/assets/fonts/noe-display-regular.woff2') format('woff2'),
//         url('/assets/fonts/noe-display-regular.woff') format('woff');
// }

@font-face {
    font-family: 'RobotoSlab-VariableFont_wght.ttf';
    src: url('../../assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'Lato-Light.ttf';
    src: url('../../assets/fonts/Lato-Light.ttf') format('truetype');
}
