// Main Site Layout

body {
    overflow-x: hidden;
    color: #5f4845;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(20deg, #96c0b7, #d4dfc7, #fef6c9);

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
}


.logo {
    width:100px;
    height:100px;
}