---
layout: base
eleventyNavigation:
  key: About
---

<div class="container">
    <h1>Hello, I'm Eric Glenn</h1>
    <p>I'm currently working on my 11ty project where I will post my portfolio of work.</p>
</div>